<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>DEMO</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no" />
  <link href="../css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="page">
    <header class="header">
      <h2>Hello GULU!</h2>
    </header>
    <section class="main"></section>
    <footer class="footer"></footer>
  </div>
  <script src="../js/page/index.js"></script>
</body>

</html>
